.Modal {
  position: absolute;
  top: 10%;
  left: 20px;
  right: 20px;
  bottom: 5%;
  background-color: #fff;
  overflow-y: scroll;
}

.row {
  padding: 0 5%;
}
.close {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.closeButton {
  position: relative;
  background: gray;
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.closeButton:hover {
  background: black;
}
.closeButton div {
  width: 5px;
  height: 20px;
  background: #fff;
  position: absolute;
}
.closeButton :first-child {
  transform: rotate(45deg);
}
.closeButton :last-child {
  transform: rotate(-45deg);
}
.modalTitle {
  margin: 0;
  font-size: 2.5em;
}
.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modalText {
  color: black;
  overflow-y: scroll;
  margin: 0;
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 15;
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

@media screen and (min-width: 768px) {
  .Modal {
    top: 20%;
    left: 10%;
    right: 10%;
    bottom: 20%;
    overflow: hidden;
    max-height: 400px;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .Overlay {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .content {
    display: flex;
  }
  .imageContainer {
    width: 40%;
  }
  .row {
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 15px;
    width: 60%;
    padding: 0;
  }
  .close {
    order: 1;
    margin: 10px 0;
  }
  .modalTitle {
  }

  .modalImg {
    width: 600px;
    height: auto;
  }
  .modalText {
    padding-top: 2%;
    padding-bottom: 2%;
    overflow-y: hidden;
  }
}
